<html>
<!-- JQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/flatly/bootstrap.css">
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/flatly/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Morris.js -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<!-- Statusbox -->
<link rel="stylesheet" type="text/css" href="status_box.css">
<!-- <script type="text/javascript" src="status_box.js"></script> -->

<!-- Jvectormap -->
<link rel="stylesheet" href="jquery-jvectormap-2.0.1.css" type="text/css" media="screen"/>
<script src="jquery-jvectormap-2.0.1.min.js"></script>
<script src="jquery-jvectormap-world-mill-en.js"></script>

<!-- Table -->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

<div class="container">
            
    <div class="row">
        <div class="col-xs-6 col-md-3">
           
            <div class="panel status panel-success">
                <div class="panel-heading">
                    <h1 id="running" class="panel-title text-center">@</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Running</strong>
                </div>
            </div>

         
        </div>
        <div class="col-xs-6 col-md-3">
            
            <div class="panel status panel-danger">
                <div class="panel-heading">
                    <h1 id="stopped" class="panel-title text-center">@</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Stopped</strong>
                </div>
            </div>

        </div>          
        <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-warning">
                <div class="panel-heading">
                    <h1 id="terminated" class="panel-title text-center">@</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Terminated</strong>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 id="total" class="panel-title text-center">@</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Total</strong>
                </div>
            </div>

         
        </div>
    </div>

    <div class="row" id="history_chart" style="height: 250px;"></div>

    <!-- 
    <div id="world-map" style="width: 600px; height: 400px"></div>
    -->
    <div class="col-xs-12" id="world-map"></div>

    <div class="col-xs-6">
      <table id="counts_by_country">
        <thead>
          <tr>
            <th>Country</th>
            <th># of sensors</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Country</th>
            <th># of sensors</th>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="col-xs-6">
      <table id="counts_by_csp">
        <thead>
          <tr>
            <th>CSP</th>
            <th># of sensors</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>CSP</th>
            <th># of sensors</th>
          </tr>
        </tfoot>
      </table>
    </div>

</div>

<!--
<hr>

<div class="container well"> 
    <strong>Theme <small>(<a href="http://bootswatch.com/" target="_new">bootswatch.com</a>)</small></strong>
    <select class="form-control"></select>
</div>

<link src="http://bootswatch.com/flatly/bootstrap.css" type="text/css">
<link src="http://bootswatch.com/readable/bootstrap.css" type="text/css">
-->

<script>
var stats_history = [];
$.getJSON("history", function(res){
  $.each(res['table'], function(index, value){
    value['TODAY'] = index;
    stats_history.push(value);
  });
}).done(function(){
  graph.setData(stats_history);
});
</script>

<script>
var map_data = [];
$.getJSON("map", function(res){
  $.each(res['table'], function(index, value){
    map_data.push(value);
  });
}).done(function(){

  console.log(JSON.stringify(map_data));
  console.log(typeof map_data);

  // morris.js - world map
  $(function(){
    $('#world-map').vectorMap({
      map: 'world_mill_en',
      scaleColors: ['#C8EEFF', '#0071A4'],
      normalizeFunction: 'polynomial',
      hoverOpacity: 0.7,
      hoverColor: false,
      markerStyle: {
        initial: {
          fill: '#F8E23B',
          stroke: '#383f47'
        }
      },
      regionStyle: {
        initial: {
          fill: '#383f47'
        },
        selected: {
          fill: '#F4A582'
        }
      },
      //backgroundColor: '#383f47',
      backgroundColor: 'white',
      markers: map_data
      /*
      markers: [
       {latLng: [41.90, 12.45], name: 'Vatican City'},
       {latLng: [43.73, 7.41], name: 'Monaco'},
       {latLng: [-0.52, 166.93], name: 'Nauru'}
      ]
      */
    });
  });

});
</script>

<script>
var graph = Morris.Line({
  element: 'history_chart',
  data: [
    //{ TODAY: '2015-02-12', RUNNING: 316, STOPPED: 40, TERMINATED: 23  },
    //{ TODAY: '2015-02-13', RUNNING: 316, STOPPED: 40, TERMINATED: 23  }
  ],
  xkey: 'TODAY',
  ykeys: ['RUNNING', 'STOPPED', 'TERMINATED'],
  labels: ['Running', 'Stopped', 'Terminated'],
  //goals: [300],
  lineColors: ['#18bc9c', '#e74c3c', '#f39c12'],
  fillOpacity: '0.5'
});
</script>

<script>
$.getJSON("stats", function(res){
  console.log(res);
  //console.log(res['RUNNING']);
  var TOTAL = res['RUNNING'] + res['STOPPED'] + res['TERMINATED'];
  console.log(TOTAL);
  $('#running').text(res['RUNNING']);
  $('#stopped').text(res['STOPPED']);
  $('#terminated').text(res['TERMINATED']);
  $('#total').text(TOTAL);
});
</script>

<script>
$(document).ready(function() {
    $('#counts_by_country').dataTable( {
        "ajax": 'counts_by_country'
    } );
} );
</script>

<script>
$(document).ready(function() {
    $('#counts_by_csp').dataTable( {
        "ajax": 'test_data'
    } );
} );
</script>
</html>
