
<!-- JQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/flatly/bootstrap.css">
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/flatly/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- Morris.js -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<!-- Statusbox -->
<link rel="stylesheet" type="text/css" href="status_box.css">
<!-- <script type="text/javascript" src="status_box.js"></script> -->

<div class="container">
            
    <div class="row">
        <div class="col-xs-6 col-md-3">
           
            <div class="panel status panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">315</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Running</strong>
                </div>
            </div>

         
        </div>
        <div class="col-xs-6 col-md-3">
            
            <div class="panel status panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">0</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Stopped</strong>
                </div>
            </div>

        </div>          
        <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-warning">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">8</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Maintenance</strong>
                </div>
            </div>

        </div>
        <div class="col-xs-6 col-md-3">
          
            <div class="panel status panel-info">
                <div class="panel-heading">
                    <h1 class="panel-title text-center">18</h1>
                </div>
                <div class="panel-body text-center">                        
                    <strong>Total</strong>
                </div>
            </div>

         
        </div>
    </div>
    <div class="row" id="history_chart" style="height: 250px;"></div>

</div>

<!--
<hr>

<div class="container well"> 
    <strong>Theme <small>(<a href="http://bootswatch.com/" target="_new">bootswatch.com</a>)</small></strong>
    <select class="form-control"></select>
</div>

<link src="http://bootswatch.com/flatly/bootstrap.css" type="text/css">
<link src="http://bootswatch.com/readable/bootstrap.css" type="text/css">
-->

<script>
Morris.Line({
  element: 'history_chart',
  data: [
    { y: '2015-02-01', a: 100, b: 90 },
    { y: '2015-02-02', a: 75,  b: 65 },
    { y: '2015-02-03', a: 200,  b: 40 },
    { y: '2015-02-04', a: 75,  b: 65 },
    { y: '2015-02-05', a: 50,  b: 40 },
    { y: '2015-02-06', a: 75,  b: 65 },
    { y: '2015-02-07', a: 100, b: 90 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Running', 'Stopped'],
  goals: [300],
  lineColors: ['#18bc9c', '#e74c3c'],
  fillOpacity: '0.5'
});
</script>
